container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_createsuperuser:
        command: "echo \"from account.models import Account; Account.objects.create_superuser('Moustapha', 'SOW', 'Mousow', 'sowmoustapha0730@gmail.com', 'Sowcode2024')\" | python manage.py shell"
        leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: moushop.settings
