/* hide radio buttons */
.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate>label {
    float: right;
}

/* show start */
.rate>label:before {
    display: inline-block;
    font-size: 1.1rem;
    content: "\f005";
    font-family: FontAwesome;
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

/* Style half stars */
.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* click and hover */
input:checked~label,
label:hover~label {
    color: #ffb503;
}

/* highlight hover */
input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}

.rating-stars i {
    color: #ffb503;
}