{% extends "layout.html" %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            <!-- ============================ COMPONENT 1 ================================= -->
            <h4 class="text-center mb-10">Order Review</h4>
            {% include "includes/alerts.html" %}
            <div class="row">
                <aside class="col-lg-8">
                    <div class="card">
                        <h5 class="card-header">Billing Address</h5>
                        <div class="card-body">
                            <p class="card-text mb-0">{{ order.full_name }}</p>
                            <p class="card-text mb-0">{{ order.full_address }}</p>
                            <p class="card-text mb-0">{{order.city}} {{ order.state }}</p>
                            <p class="card-text mb-0">{{ order.country }}</p>
                            <p class="card-text mb-0">{{ order.email }}</p>
                            <p class="card-text mb-0">{{ order.phone }}</p>
                            {% if order.order_note %}
                                <b>Order Note:</b> {{ order.order_note }}
                            {% endif %}
                        </div>
                    </div> <!-- card.// -->
                    <div class="card">
                        <h5 class="card-header">Payment Method</h5>
                        <div class="card-body">
                            <p class="card-text">Paypal</p>
                        </div>
                    </div> <!-- card.// -->
                    <div class="card">
                        <h5 class="card-header">Review Products</h5>
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col" width="120">Quantity</th>
                                        <th scope="col" width="120">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart_items %}
                                        <tr>
                                            <td>
                                                <figure class="itemside align-items-center">
                                                    <div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
                                                    <figcaption class="info">
                                                        <a href="{{ item.product.get_absolute_url }}" class="title text-dark">{{ item.product.product_name }}</a>
                                                        <p class="text-muted small">
                                                            {% if item.variations.all %}
                                                                {% for variation in item.variations.all %}
                                                                    {{ variation.variation_category | capfirst }} : {{ variation.variation_value | capfirst  }} <br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td> 
                                                <label for="">{{ item.quantity }}</label>
                                            </td>
                                            <td> 
                                                <div class="price-wrap"> 
                                                    <var class="price">${{ item.sub_total }}</var> 
                                                    <small class="text-muted"> ${{ item.product.price }} each </small> 
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->

                <aside class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right">${{ total_price }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Tax:</dt>
                                <dd class="text-right"> ${{ tax }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b"><strong>${{ total }}</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="{% static './images/misc/payments.png' %}" height="26">
                            </p>

                            <div id="cinetpay-button-container" class="d-grid gap-2 mb-3">
                                <!-- CinetPay button here -->
                            </div>
                            
                            <div id="paypal-button-container">
                                {% comment %} Div for Paypal Button {% endcomment %}
                            </div>

                            <div class="d-grid gap-2">
                                <button id="pay-after-delivery-button" class="btn btn-outline-primary btn-block">
                                    Pay After Delivery
                                </button>
                            </div>

                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

        </div> <!-- container .//  -->
    </section>
<!-- ========================= SECTION CONTENT END// ========================= -->

    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function generateUUID() {
            // Generate a UUID
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                const r = Math.random() * 16 | 0,
                    v = c === 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        const amount = '{{ total }}';
        const url = "{% url 'payments' %}";
        const redirect_url = "{% url 'order_successful' %}";
        const csrftoken = getCookie('csrftoken');
        const orderID = '{{ order.order_number }}';
        const paymentMethod = 'Mobile Payment';

        const return_url = "{{ return_url }}";
        const notify_url = "{{ notify_url }}";

        // Render the paypal button into the paypal button container
        paypal.Buttons({

            style: {
                color: 'blue',
                shape: 'rect',
                label: 'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                purchase_units: [{
                    amount: {
                    value: amount,
                    }
                }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    console.log(details);
                    sendData(details.id, details.status, 'PayPal');
                });
            }
        }).render('#paypal-button-container');

        document.getElementById('pay-after-delivery-button').addEventListener('click', function() {
            const transactionID = generateUUID();
            sendData(transactionID, 'Pending', 'After Delivery');
        });

        function sendData(transactionID, status, methodOfPayemnt) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    orderID: orderID,
                    transactionID: transactionID,
                    paymentMethod: methodOfPayemnt,
                    status: status,
                }),
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transactionID;
            });
        }

        function checkout() {
            CinetPay.setConfig({
                apikey: '94465734866817df9652626.15464973',
                site_id: '5875041',
                notify_url: notify_url,
                mode: 'TEST'
            });
            console.log('Entering CinetPay.getCheckout');
            CinetPay.getCheckout({
                transaction_id: orderID,
                amount: amount,
                currency: 'XOF',
                channels: 'MOBILE_MONEY,WALLET',
                description: 'Order payment',
                return_url: return_url
            });
            console.log('Entering CinetPay.waitResponse');
            CinetPay.waitResponse(function(data) {
                console.log('CinetPay Response:', data);
                if (data.status == "REFUSED") {
                    alert('Votre paiement a échoué');
                    window.location.reload();
                } else if (data.status == 'ACCEPTED') {
                    alert('Votre paiement a été effectué avec succès');
                    const transactionID = generateUUID();
                    sendData(transactionID, 'Completed', 'CinetPay'); // Call sendData function with the response data
                }
            });
            CinetPay.onError(function(data) {
                console.log('CinetPay Error:', data);
            });
        }

        document.getElementById('cinetpay-button-container').innerHTML = '<button onclick="checkout()" class="btn btn-success btn-block">Pay with CinetPay</button>';
    </script>



{% endblock content %}